<a href="https://colab.research.google.com/github/pratamaridho/prediksis-saham-/blob/main/feature_engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
url = "https://raw.githubusercontent.com/pratamaridho/prediksis-saham-/main/BBCA_cleaned.csv"
df = pd.read_csv(url)

df.head()

         Date       Close        High        Low        Open     Volume
0  2004-06-08   99.696106  101.100276  98.291935   98.291935  499150000
1  2004-06-09  101.100250  102.504420  98.291910   99.696080  294290000
2  2004-06-10  101.100250  101.100250  99.696080  101.100250  165590000
3  2004-06-11  101.100250  101.100250  99.696080   99.696080  135830000
4  2004-06-14   99.696106  101.100276  98.291935  101.100276  158540000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5280 entries, 0 to 5279
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    5280 non-null   object
 1   Close   5280 non-null   float64
 2   High    5280 non-null   float64
 3   Low     5280 non-null   float64
 4   Open    5280 non-null   float64
 5   Volume  5280 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 247.6+ KB

In [4]:
df.describe()

              Close          High           Low          Open        Volume
count   5280.000000   5280.000000   5280.000000   5280.000000  5.280000e+03
mean    3207.568572   3237.872289   3177.297276   3207.946579  1.077727e+08
std     2956.070745   2981.530692   2932.456985   2956.844978  1.272619e+08
min       99.696106     99.696106     98.291910     98.291914  0.000000e+00
25%      690.317444    695.616469    676.532157    688.420990  4.997850e+07
50%     2142.572021   2166.681580   2130.235765   2142.478958  7.406700e+07
75%     5417.664917   5459.961518   5377.563660   5421.718171  1.178404e+08
max    10570.414062  10570.414456  10401.480891  10522.147296  1.949960e+09

In [5]:
df.isnull().sum()

Date      0
Close     0
High      0
Low       0
Open      0
Volume    0
dtype: int64

In [6]:
df.duplicated().sum()

np.int64(0)

#***Feature Engineering***

In [7]:
df_close = df[['Date','Close']]

window_short = 10
window_long = 50

df_close['MA_10'] = df_close['Close'].rolling(window=window_short).mean()
df_close['MA_50'] = df_close['Close'].rolling(window=window_long).mean()

df_close.head(10)

/tmp/ipython-input-3385582043.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_close['MA_10'] = df_close['Close'].rolling(window=window_short).mean()
/tmp/ipython-input-3385582043.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_close['MA_50'] = df_close['Close'].rolling(window=window_long).mean()

         Date       Close       MA_10  MA_50
0  2004-06-08   99.696106         NaN    NaN
1  2004-06-09  101.100250         NaN    NaN
2  2004-06-10  101.100250         NaN    NaN
3  2004-06-11  101.100250         NaN    NaN
4  2004-06-14   99.696106         NaN    NaN
5  2004-06-15  102.504425         NaN    NaN
6  2004-06-16  101.100250         NaN    NaN
7  2004-06-17   99.696106         NaN    NaN
8  2004-06-18   99.696106         NaN    NaN
9  2004-06-21   99.696106  100.538596    NaN

In [8]:
delta = df_close['Close'].diff()

period = 14

gain = delta.clip(lower=0)
loss = delta.clip(upper=0).abs()

avg_gain = gain.ewm(com=period-1, min_periods=period).mean()
avg_loss = loss.ewm(com=period-1, min_periods=period).mean()
rs = avg_gain / avg_loss
rsi = 100 - (100 / (1 + rs))

df_close['RSI'] = rsi

df_close.head(20)

/tmp/ipython-input-1524019373.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_close['RSI'] = rsi

          Date       Close       MA_10  MA_50        RSI
0   2004-06-08   99.696106         NaN    NaN        NaN
1   2004-06-09  101.100250         NaN    NaN        NaN
2   2004-06-10  101.100250         NaN    NaN        NaN
3   2004-06-11  101.100250         NaN    NaN        NaN
4   2004-06-14   99.696106         NaN    NaN        NaN
5   2004-06-15  102.504425         NaN    NaN        NaN
6   2004-06-16  101.100250         NaN    NaN        NaN
7   2004-06-17   99.696106         NaN    NaN        NaN
8   2004-06-18   99.696106         NaN    NaN        NaN
9   2004-06-21   99.696106  100.538596    NaN        NaN
10  2004-06-22   99.696106  100.538596    NaN        NaN
11  2004-06-23  101.100250  100.538596    NaN        NaN
12  2004-06-24  101.100250  100.538596    NaN        NaN
13  2004-06-25  102.504425  100.679013    NaN        NaN
14  2004-06-28  102.504425  100.959845    NaN  65.883687
15  2004-06-29  103.908600  101.100262    NaN  72.176181
16  2004-06-30  105.312767  101.521514    NaN  76.786967
17  2004-07-01  113.291031  102.881007    NaN  88.474091
18  2004-07-02  114.886658  104.400062    NaN  89.601670
19  2004-07-05  114.886658  105.919117    NaN  89.601670

In [9]:
df_close['Date'] = pd.to_datetime(df_close['Date'])
df_close = df_close.set_index('Date')
df['Date'] = pd.to_datetime(df['Date'])
df = df.set_index('Date')

common_dates = df.index.intersection(df_close.index)
df = df.loc[common_dates]
df_close = df_close.loc[common_dates]

df_close['day_of_week'] = df_close.index.dayofweek

df_encoded_days = pd.get_dummies(df_close['day_of_week'], prefix='Day')
df_final_features = df_close.join(df_encoded_days)
df_final_features = df_final_features.drop('day_of_week', axis=1)

df_close.head()

/tmp/ipython-input-103163877.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_close['Date'] = pd.to_datetime(df_close['Date'])

                 Close  MA_10  MA_50  RSI  day_of_week
Date
2004-06-08   99.696106    NaN    NaN  NaN            1
2004-06-09  101.100250    NaN    NaN  NaN            2
2004-06-10  101.100250    NaN    NaN  NaN            3
2004-06-11  101.100250    NaN    NaN  NaN            4
2004-06-14   99.696106    NaN    NaN  NaN            0

In [10]:
df_clean = df_close.dropna()

In [11]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5231 entries, 2004-08-16 to 2025-10-29
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Close        5231 non-null   float64
 1   MA_10        5231 non-null   float64
 2   MA_50        5231 non-null   float64
 3   RSI          5231 non-null   float64
 4   day_of_week  5231 non-null   int32
dtypes: float64(4), int32(1)
memory usage: 224.8 KB

In [12]:
df_clean.head(20)

                 Close       MA_10       MA_50        RSI  day_of_week
Date
2004-08-16  114.886658  118.077940  113.063786  41.512255            0
2004-08-17  114.886658  117.599245  113.367597  41.512255            1
2004-08-18  118.077957  117.280118  113.707151  53.687885            2
2004-08-19  118.077957  116.960991  114.046706  53.687885            3
2004-08-20  116.482277  116.641857  114.354346  47.904875            4
2004-08-23  116.482277  116.641857  114.690070  47.904875            0
2004-08-24  116.482277  116.641857  114.969627  47.904875            1
2004-08-25  114.886658  116.322727  115.245355  42.224470            2
2004-08-26  114.886658  116.163165  115.549166  42.224470            3
2004-08-27  116.482277  116.163165  115.884889  49.209262            4
2004-08-30  113.291031  116.003603  116.156788  39.042867            0
2004-08-31  114.886658  116.003603  116.460599  45.145132            1
2004-09-01  119.673615  116.163168  116.832066  58.550964            2
2004-09-02  119.673615  116.322734  117.203533  58.550964            3
2004-09-03  121.269226  116.801429  117.578829  62.128832            4
2004-09-06  119.673615  117.120563  117.922213  56.844579            0
2004-09-07  118.077957  117.280131  118.205600  52.074629            1
2004-09-08  121.269226  117.918388  118.524729  59.410431            2
2004-09-09  118.077957  118.237518  118.620468  51.003013            3
2004-09-10  119.673615  118.556651  118.716207  54.472273            4

In [13]:
df_clean = df_close.join(df[['High', 'Low', 'Open', 'Volume']])
df_clean = df_clean.dropna()
df_clean.head(50)

,Close,MA_10,MA_50,RSI,day_of_week,High,Low,Open,Volume
Date,,,,,,,,,
2004-08-16,114.886658,118.077940,113.063786,41.512255,0,116.482306,114.886658,116.482306,143450000
2004-08-17,114.886658,117.599245,113.367597,41.512255,1,114.886658,114.886658,114.886658,0
2004-08-18,118.077957,117.280118,113.707151,53.687885,2,118.077957,116.482309,116.482309,236070000
2004-08-19,118.077957,116.960991,114.046706,53.687885,3,118.077957,116.482309,118.077957,54470000
2004-08-20,116.482277,116.641857,114.354346,47.904875,4,118.077925,116.482277,116.482277,6340000
2004-08-23,116.482277,116.641857,114.690070,47.904875,0,118.077925,116.482277,116.482277,34770000
2004-08-24,116.482277,116.641857,114.969627,47.904875,1,116.482277,114.886629,116.482277,343910000
2004-08-25,114.886658,116.322727,115.245355,42.224470,2,116.482306,113.291010,116.482306,20510000
2004-08-26,114.886658,116.163165,115.549166,42.224470,3,114.886658,113.291010,113.291010,26650000
2004-08-27,116.482277,116.163165,115.884889,49.209262,4,116.482277,114.886629,114.886629,152960000
2004-08-30,113.291031,116.003603,116.156788,39.042867,0,114.886679,113.291031,114.886679,217280000
2004-08-31,114.886658,116.003603,116.460599,45.145132,1,116.482306,114.886658,114.886658,241830000
2004-09-01,119.673615,116.163168,116.832066,58.550964,2,119.673615,114.886670,114.886670,785500000
2004-09-02,119.673615,116.322734,117.203533,58.550964,3,121.269263,118.077966,119.673615,625450000
2004-09-03,121.269226,116.801429,117.578829,62.128832,4,122.864874,119.673578,119.673578,380010000
2004-09-06,119.673615,117.120563,117.922213,56.844579,0,122.864911,119.673615,121.269263,300650000
2004-09-07,118.077957,117.280131,118.205600,52.074629,1,119.673605,118.077957,119.673605,380160000
2004-09-08,121.269226,117.918388,118.524729,59.410431,2,121.269226,118.077931,118.077931,148760000
2004-09-09,118.077957,118.237518,118.620468,51.003013,3,119.673605,114.886661,119.673605,1124760000
2004-09-10,119.673615,118.556651,118.716207,54.472273,4,121.269263,116.482318,118.077966,807590000
2004-09-13,119.673615,119.194910,118.811946,54.472273,0,119.673615,119.673615,119.673615,0
2004-09-14,126.056206,120.311864,118.939598,65.729173,1,127.651854,121.269261,121.269261,1532050000
2004-09-15,129.247513,121.269254,119.131076,69.755798,2,130.843161,124.460568,126.056216,1588000000
2004-09-16,127.651825,122.067075,119.290640,65.605126,3,127.651825,126.056177,127.651825,208620000
2004-09-17,127.651825,122.705335,119.418292,65.605126,4,127.651825,122.864882,126.056177,302950000
2004-09-20,127.651825,123.503156,119.545944,65.605126,0,127.651825,127.651825,127.651825,0
2004-09-21,132.438812,124.939242,119.737423,71.875475,1,134.034461,129.247516,129.247516,1901600000
2004-09-22,130.843124,125.896632,119.960813,67.460599,2,132.438772,129.247477,132.438772,210400000
2004-09-23,130.843124,127.173148,120.184203,67.460599,3,132.438772,129.247477,129.247477,623640000
2004-09-24,130.843124,128.290099,120.375681,67.460599,4,130.843124,129.247477,129.247477,10480000
2004-09-27,127.651825,129.087920,120.503333,58.486926,0,130.843121,126.056177,129.247473,174580000
2004-09-28,126.056206,129.087920,120.599073,54.577776,1,127.651854,126.056206,127.651854,331780000
2004-09-29,127.651825,128.928352,120.726725,57.627708,2,127.651825,126.056177,126.056177,244270000
2004-09-30,127.651825,128.928352,120.854377,57.627708,3,129.247473,126.056177,127.651825,270690000
2004-10-01,129.247513,129.087920,121.013943,60.689125,4,129.247513,127.651865,127.651865,447560000
2004-10-04,135.630051,129.885743,121.333071,70.019671,0,135.630051,129.247460,129.247460,1251590000
2004-10-05,146.799652,131.321827,121.875592,79.285699,1,146.799652,134.034465,134.034465,1496600000
2004-10-06,145.203964,132.757911,122.386199,75.686779,2,146.799612,142.012668,146.799612,270080000
2004-10-07,143.608353,134.034434,122.864894,72.159539,3,143.608353,138.821408,143.608353,412060000
2004-10-08,143.608353,135.310957,123.343589,72.159539,4,145.204001,142.012704,142.012704,288950000
2004-10-11,145.203964,137.066171,123.886109,73.587118,0,146.799612,142.012668,143.608316,350120000
2004-10-12,142.012680,138.661818,124.332890,66.268125,1,145.203976,140.417032,145.203976,322910000
2004-10-13,143.608353,140.257471,124.779673,67.982852,2,145.204001,142.012704,143.608353,168000000
2004-10-14,143.608353,141.853123,125.226455,67.982852,3,145.204001,142.012704,143.608353,305480000
2004-10-15,145.203964,143.448769,125.737062,69.765286,4,145.203964,142.012668,142.012668,301950000
2004-10-18,145.203964,144.406160,126.311496,69.765286,0,145.203964,143.608316,145.203964,137550000
2004-10-19,142.012680,143.927463,126.822104,61.786579,1,145.203976,142.012680,145.203976,412170000
2004-10-20,142.012680,143.608334,127.300798,61.786579,2,143.608328,138.821384,142.012680,273750000
2004-10-21,140.416992,143.289198,127.779493,57.943746,3,142.012640,138.821345,142.012640,170980000
2004-10-22,143.608353,143.289198,128.322014,62.911996,4,145.204001,140.417056,140.417056,219850000

In [14]:
df_clean = pd.get_dummies(df_clean, columns=['day_of_week'], prefix='Day')
df_clean.head()

,Close,MA_10,MA_50,RSI,High,Low,Open,Volume,Day_0,Day_1,Day_2,Day_3,Day_4
Date,,,,,,,,,,,,,
2004-08-16,114.886658,118.077940,113.063786,41.512255,116.482306,114.886658,116.482306,143450000,True,False,False,False,False
2004-08-17,114.886658,117.599245,113.367597,41.512255,114.886658,114.886658,114.886658,0,False,True,False,False,False
2004-08-18,118.077957,117.280118,113.707151,53.687885,118.077957,116.482309,116.482309,236070000,False,False,True,False,False
2004-08-19,118.077957,116.960991,114.046706,53.687885,118.077957,116.482309,118.077957,54470000,False,False,False,True,False
2004-08-20,116.482277,116.641857,114.354346,47.904875,118.077925,116.482277,116.482277,6340000,False,False,False,False,True